{% extends "encyclopedia/layout.html" %}

{% block title %}
    New entry
{% endblock %}

{% block body %}
    <h1>{{title}}</h1>
    <br>
    <br>
    <form action="{% url 'edit' title=title %}" method="post">
        {% csrf_token %}
        <b>
            You can edit the entry:
        </b>
        <br>
        <br>
        <textarea name="content">{% if content %}{{content}}{% endif %}</textarea>
        <br>
        <br>
        <input type="submit" value="Save">
    </form>
{% endblock %}